/* css document */
@charset "utf-8";

@font-face {
    font-family: "Poppins-Regular";
    src: url(fuentes/Poppins-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-Italic";
    src: url(fuentes/Poppins-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(fuentes/Poppins-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-BoldItalic";
    src: url(fuentes/Poppins-BoldItalic.ttf) format(truetype);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Tan-mon-cheri";
    src: url(fuentes/tan-mon-cheri.woff) format(truetype);
    font-weight: normal;
    font-style: normal;
}

html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #F4EDE5;
    color: #5A0E0E;
    font-family: Poppins, sans-serif;
}

h1 {
    font-size: 52px;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    font-family: Poppins, sans-serif;
    margin-top: 40px;
    border-bottom: 1px solid #5A0E0E;
    padding-bottom: 8px;
}

h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    line-height: 1.6;
}

/* HEADER */
header {
    background-color: #F4EDE5;
    color: #5A0E0E;
    padding: 30px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    border-bottom: 1px solid #5A0E0E;
    padding-bottom: 18px;
}

nav a {
    color: #5A0E0E;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.bienvenida {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.presentacion {
    display: flex;
    max-width: 900px;
    padding: 20px 80px 80px 80px;
    flex-direction: column;
}

#columna-foto {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background: #5A0E0E;
    width: 200px;
    height: 200px;
    aspect-ratio: auto 200 / 200;
}

.etiqueta {
    font-size: 13px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.presentacion h1 {
    font-size: 72px;
    font-family: "Mon Cherie", cursive;
    line-height: 1.1;
    margin: 0;
    font-weight: bold;
}

.presentacion h2 {
    font-size: 25px;
    font-family: Poppins, sans-serif;
    font-weight: normal;
    border: none;
    margin: 25px 0;
    padding: 0;
}

.presentacion p {
    color: #5A0E0E;
}

.frase {
    font-size: 20px !important;
    font-style: normal;
}
.sobre {
    background-color: #5A0E0E;
    color: #F4EDE5;
    padding: 100px 7%;
    display: grid;
    grid-template-columns: 80px 1fr 300px;
    gap: 50px;
    align-items: start;
}

.sobre .numero {
    font-size: 14px;
    letter-spacing: 2px;
    padding-top: 10px;
}

.sobre-contenido {
    max-width: 700px;
}

.sobre-contenido h2 {
    color: #F4EDE5;
    font-size: 64px;
    font-family: "Mon Cherie", cursive;
    font-weight: normal;
    margin: 0 0 40px;
    border: none;
    padding: 0;
}

.sobre-contenido p {
    color: #F4EDE5;
    font-size: 17px;
    line-height: 1.8;
    max-width: 650px;
}

.info-personal {
    border-left: 1px solid #F4EDE5;
    padding-left: 35px;
}

.info-personal h3 {
    color: #F4EDE5;
    font-family: Georgia, serif;
    font-size: 26px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 35px;
}

.info-personal p {
    color: #F4EDE5;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.info-personal strong {
    color: #E8B8B8;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.experiencia {
    background-color: #F4EDE5;
    color: #5A0E0E;
    padding: 100px 7%;
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 50px;
}

.experiencia .numero {
    font-size: 14px;
    letter-spacing: 2px;
    padding-top: 10px;
}

.experiencia-contenido {
    max-width: 700px;
}

.experiencia-contenido h2 {
    color: #5A0E0E;
    font-size: 64px;
    font-family: "Mon Cherie", cursive;
    font-weight: normal;
    margin: 0 0 25px;
    border: none;
    padding: 0;
}

.experiencia-contenido h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.experiencia-contenido p {
    font-size: 17px;
    line-height: 1.8;
}

.experiencia-items {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.experiencia-items div {
    border-top: 1px solid #5A0E0E;
    padding-top: 20px;
}

.experiencia-items h3 {
    font-size: 17px;
}

.experiencia-items p {
    font-size: 14px;
    line-height: 1.6;
}
.bloque-borgona {
    background-color: #5A0E0E;
    color: #F4EDE5;
    padding: 100px 7%;
}

.habilidades,
.formacion {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 50px;
}

.bloque-borgona .numero {
    font-size: 14px;
    letter-spacing: 2px;
    padding-top: 10px;
}

.bloque-borgona h2 {
    color: #F4EDE5;
    font-size: 64px;
    font-family: "Mon Cherie", cursive;
    font-weight: normal;
    margin: 0 0 40px;
    border: none;
    padding: 0;
}

.habilidades-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.habilidades-lista span {
    border: 1px solid #F4EDE5;
    padding: 18px;
    font-size: 14px;
}

.estudio {
    border-top: 1px solid #F4EDE5;
    padding-top: 25px;
    max-width: 600px;
}

.estudio h3 {
    color: #F4EDE5;
    font-size: 22px;
    font-weight: normal;
}

.estudio p 
    .formacion-columnas {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    align-items: flex-start;
}

.idiomas-columna {
    border-left: 1px solid rgba(244, 237, 229, 0.4);
    padding-left: 35px;
}

.titulo-idiomas {
    font-size: 28px;
    color: #F4EDE5;
    font-weight: 400;
    margin-bottom: 20px;
}

.idioma-item {
    margin-bottom: 18px;
}

.idioma-nombre {
    color: #E8B8B8;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 2px;
}

.idioma-nivel {
    color: #F4EDE5;
    font-size: 16px;
    margin: 0;
}

.idioma-sub {
    color: #E8B8B8;
    font-size: 14px;
}

.formacion {
    display: grid;
    grid-template-columns: 80px 1fr 300px;
    gap: 50px;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.llamame {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 50px;
    align-items: flex-end;
}

.contacto {
    background-color: #F4EDE5;
    color: #5A0E0E;
    padding: 100px 7%;
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 50px;
    width: 100%;
    box-sizing: border-box;
}

.contacto-tarjeta {
    padding: 30px 80px;
}

.contacto .etiqueta {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #5A0E0E;
}

.contacto h2 {
    color: #5A0E0E;
    font-size: 72px;
    font-family: "Mon Cherie", cursive;
    font-weight: normal;
    margin: 0 0 25px;
    border: none;
    padding: 0;
}

.contacto p {
    max-width: 600px;
    font-size: 17px;
    line-height: 1.8;
    color: #5A0E0E;
}

/* FOOTER */
.contacto-enlaces {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 120px 40px 120px;
}

.contacto-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contacto-item span {
    font-size: 11px;
    letter-spacing: 2px;
    opacity: 0.7;
    color: #5A0E0E;
}

.contacto-item a {
    color: #5A0E0E;
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
}

.email-texto {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #5A0E0E;
}